@font-face {
    font-family: "Tengel";
    src: url("/fonts/tengel__.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #213547;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1.5rem;
}

ul ul {
    list-style-type: circle;
    padding-left: 1.5rem;
}